<h1>Famous Americans</h1>
<br />

<div class="container">
  <div class="row">
    <div class="col-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Famous People:</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let famousPerson of famousPeople$ | async"
            (click)="showPages(famousPerson)"
            [class.selected]="
              selectedItem && famousPerson.title == selectedItem.title
            "
          >
            <td class="clickable">{{ famousPerson.title }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="showPagesList">
      <div class="col-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">
                Wikipedia pages for : {{ selectedItem.title }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let page of pages$ | async">
              <td>
                {{ page.language }},
                <a [attr.href]="page.link">Link</a>
                Word Count: {{ page.wordCount }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
